.booking{
    padding-top: 40px;
    .main{
        justify-content: center;
        .form{
            form{
                justify-content: center;
                input{
                    &[type="submit"]{
                        width: 295px;
                    }
                }
            }
        }
        .collage{
            width: 300px;
            img{
                margin-top: 30px;
            }
        }
    }
    span{
        line-height: 40px;
        display: block;
        width: 290px;
        text-align: center;
        margin: 10px auto;
    }
}